.container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.form {
  background-color: whitesmoke;
  border-radius: 5px;
  border-width: 5px;
  align-items: center;
  min-width: 400px;
  width: 33%;
  padding: 10px;
}

.formGroup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 0;
  margin-right: 20px;
}

.formControl {
  border: none;
  padding: 5px 10px;
}
.formControl:focus {
  outline: 1px solid aqua;
}

.formSubmit {
  border: none;
  /* background-color: rgba(187, 255, 0, 0.5); */
  background-image: linear-gradient(62deg, #ffdee9 0%, #b5fffc 100%);
  padding: 6px 14px;
  border-radius: 12px;
  color: rgb(8, 123, 224);
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: red;
}
