.container {
  text-align: center;
  margin-top: 1rem;
}

.canvasRootContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvasContainer {
  display: flex;
  height: auto;
  width: 100%;
  max-width: 75rem;
  padding: 1.5rem;
}
.canvas {
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .settingsDropdown {
    top: auto;
  }
}
